:root {
    --text: rgb(255, 255, 255);
    --background: rgb(29, 29, 29);
    --border-color: rgb(48, 48, 48);
}

::-webkit-scrollbar-track {
    background-color: #111111;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444444;
}

::-webkit-scrollbar-thumb:active {
    background-color: #555555;
}

nav {
    background-color: #2d2d2d;
    border-bottom: 1px solid #444444;
}

@media (max-width: 600px) {
    nav select:hover {
        border-color: #444444;
        background-color: #3a3a3a;
    }

    nav select:active {
        background-color: #555555;
    }

    nav select optgroup {
        background-color: #2d2d2d;
    }

    nav select option {
        background-color: #2d2d2d;
    }

    nav select option:hover {
        background-color: #eeeeee;
    }
}

input:not([type="checkbox"]):not([type="color"]):not([type="image"]):not([type="file"]):not([type="radio"]), textarea {
    background-color: #2d2d2d;
    color: #f5f5f5;
}

input:not([type="checkbox"]):not([type="color"]):not([type="image"]):not([type="file"]):not([type="radio"]):hover, textarea:hover {
    background-color: #303030;
    color: #fdfdfd;
}

input:not([type="checkbox"]):not([type="color"]):not([type="image"]):not([type="file"]):not([type="radio"]):focus, textarea:focus {
    background-color: #333333;
}

button, .button, ::-webkit-file-upload-button {
    background-color: #2d2d2d;
    color: #eeeeee;
}

button::before, .button::before, .ripple::before {
	background-color: #999999;
}

button:hover, .button:hover, ::-webkit-file-upload-button:hover {
    background-color: #444444;
    color: #f5f5f5;
}

button:active, .button:active, ::-webkit-file-upload-button:active {
    background-color: #555555;
}

table tr td:nth-child(1), table tr td:nth-child(2) {
    background-color: #2d2d2d;
}

table tr td:nth-child(1):hover, table tr td:nth-child(2):hover {
    background-color: #333333;
}

.dropdown .dropdown-content {
	background-color: #2d2d2d;
    box-shadow: 1px 1px 20px 1px #555;
}

.progress-bar-container {
    background-color: #191919;
}

#messages {
    border: 1px solid #444;
}

.message span.content {
    background-color: #444
}

.warning {
    color: #ff3434
}