::-webkit-scrollbar-track {
    background-color: #111111;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444444;
}

html {
    background-color: #1d1d1d;
    color: #f5f5f5;
}

header, footer {
    background-color: #2d2d2d;
}

header {
    border-bottom: 1px solid #444;
}

footer {
    border-top: 1px solid #444;
}

input:not([type="checkbox"]):not([type="color"]):not([type="image"]):not([type="image"]):not([type="radio"]), textarea {
    background-color: #2d2d2d;
    color: #f5f5f5;
}

input:not([type="checkbox"]):not([type="color"]):not([type="image"]):not([type="image"]):not([type="radio"]):hover, textarea:hover {
    background-color: #303030;
    color: #fdfdfd;
}

input:not([type="checkbox"]):not([type="color"]):not([type="image"]):not([type="image"]):not([type="radio"]):focus, textarea:focus {
    background-color: #333333;
    color: #ffffff;
}

button, .button {
    background-color: #2d2d2d;
    color: #eeeeee;
}

button:hover, .button:hover {
    background-color: #444444;
    color: #f5f5f5;
}

button:hover:active, .button:hover:active {
    background-color: #555;
}

.dropdown .dropdown-content {
	background-color: #2d2d2d;
    box-shadow: 1px 1px 20px 1px #555;
}

.progress-bar-container {
    background-color: #191919;
}

#messages {
    border: 1px solid #444;
}

.message span.content {
    background-color: #444
}