header, footer {
    background: #f5f5f5;
}

header {
    border-bottom: 1px solid #ddd;
}

footer {
    border-top: 1px solid #ddd;
}

button, .button {
    color: #333;
    background-color: #f5f5f5;
}

button:hover, .button:hover {
    color: #1d1d1d;
    background-color: #ccc;
}

button:hover:active, .button:hover:active {
    background-color: #bbb;
}

input:not([type="checkbox"]):not([type="color"]):not([type="image"]):not([type="image"]) {
    background: #f5f5f5;
}

textarea {
    background: #eee;
}

#dropdown-content {
    background-color: #f5f5f5;
    box-shadow: 1px 1px 20px 1px #aaa;
}

.progress-bar-container {
    background: #f9f9f9;
}

#messages {
    border: 1px solid #ddd;
}

.message span.content {
    background-color: #ddd
}