:root {
    --text: rgb(0, 0, 0);
    --background: rgb(237, 237, 237);
    --border-color: rgb(207, 207, 207);
    --transparency: rgba(0, 0, 0, .15);
}

::-webkit-scrollbar-track {
    background-color: #eee9;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}

::-webkit-scrollbar-thumb:active {
    background-color: #aaa;
}

html {
    box-shadow: 0 -1px 0 0 inset #bbb;
}

nav {
    border-bottom: 1px solid #bbb;
    background-image: linear-gradient(180deg, #d2d2d2, transparent);
}

@media (max-width: 600px) {
    nav select:hover {
        border-color: #dddddd;
        background-color: #e9e9e9;
    }

    nav select:active {
        background-color: #e9e9e9;
    }

    nav select optgroup {
        background-color: #f5f5f5;
    }

    nav select option {
        background-color: #f5f5f5;
    }

    nav select option:hover {
        background-color: #eee;
    }
}

input:not([type="checkbox"]):not([type="color"]):not([type="image"]):not([type="file"]):not([type="radio"]), textarea {
    background-color: #d2d2d2;
}

input:not([type="checkbox"]):not([type="color"]):not([type="image"]):not([type="file"]):not([type="radio"]):hover, textarea:hover {
    background-color: #cfcfcf;
    color: #1d1d1d;
}

input:not([type="checkbox"]):not([type="color"]):not([type="image"]):not([type="file"]):not([type="radio"]):focus, textarea:focus {
    background-color: #ccc;
}

button, input[type="button"], ::-webkit-file-upload-button {
    background-color: #d2d2d2;
    color: #333;
}

button.nav:hover, input[type="button"].nav:hover, .button.nav:hover {
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, .15);
}

button.nav:active, .button.nav:hover {
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, .1);
}

button:not(.nav)::before, input[type="button"]:not(.nav)::before, .button:not(.nav)::before, .ripple::before {
	background-color: #666;
}

button:not(.nav):hover, input[type="button"]:not(.nav):hover, .button:not(.nav):hover, ::-webkit-file-upload-button:hover {
    background-color: #bbb;
    color: #1d1d1d;
}

button:not(.nav):active, input[type="button"]:not(.nav):active, .button:not(.nav):active, ::-webkit-file-upload-button:active {
    background-color: #aaa;
}

table tr td:nth-child(1), table tr td:nth-child(2) {
    background-color: #d2d2d2;
}

table tr td:nth-child(1):hover, table tr td:nth-child(2):hover {
    background-color: #ccc;
}

dropdown content {
    background-color: #d2d2d2;
    box-shadow: 0 0 20px -10px #aaa8;
}

.progress-bar-container {
    background-color: #e6e6e6;
}

#messages {
    border: 1px solid #bbb;
}

.message span.content {
    background-color: #bbb
}

.warning {
    color: #cb0000
}