@font-face {
    font-family: Helsinki;
    src: url(../fonts/helsinki.ttf);
}

* {
	box-sizing: border-box;
}

html {
	font-family: Arial, helvetica, sans-serif;
}

header, footer {
    left: 0;
    width: 100vw;
    display: flex;
    padding: 10px;
    position: fixed;
    text-align: center;
}

header {
	top: 0;
}

footer {
    bottom: 0;
    padding: 40px;
}

.header-left {
    display: flex;
}

.header-right {
    display: flex;
}

body {
	padding: 15px;
	margin-top: 50px;
}

button, .button {
    width: 130px;
    height: 45px;
    border: none;
    overflow: hidden;
	display: inline-block;
	text-decoration: none;
    transition: all 100ms;
}

button:hover, .button:hover {
    cursor: pointer;
    transition: all 50ms;
}

button:disabled, .button:disabled {
    cursor: default;
    opacity: 0.5;
}

input[type="number"], input[type="text"] {
    text-align: center;
    height: 45px;
    width: 200px;
    border: none;
    border-radius: 2px;
}

textarea {
    height: 400px;
    width: 470px;
    border: none;
    border-radius: 2px;
}

.dropdown {
  	position: relative;
  	display: inline-block;
}

#dropdown-content {
	z-index: 1;
    display: none;
	position: absolute;
}

.abutton {
	position: relative;
	transition: all 0.4s;
}

.abutton:hover:before {
	top: 0;
	bottom: auto;
    height: 100%;
}

.abutton:before {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 0;
	width: 100%;
	z-index: -1;
	transition: all 0.4s;
}

.title {
    font-family: Helsinki;
}

.switch-right {
    top: 12.5px;
    right: 10px;
    position: fixed;
    width: 60px;
    height: 34px;
}
  
.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.toggle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .toggle {
    background-color: #2196F3;
}

input:focus + .toggle {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.toggle {
    border-radius: 34px;
}

.toggle:before {
    border-radius: 50%;
}
