@font-face {
    font-family: Helsinki;
    src: url(../fonts/helsinki.ttf);
}

* {
	box-sizing: border-box;
}

html {
	font-family: Arial, helvetica, sans-serif;
}

header {
	top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    padding: 10px;
    position: fixed;
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.header-left {
    display: flex;
}

.header-right {
    display: flex;
}

body {
	padding: 15px;
	margin-top: 50px;
	margine-bottom: 50px;
}

button, .button {
    color: #333;
    width: 130px;
    height: 45px;
    border: none;
    overflow: hidden;
    background: #f5f5f5;
	display: inline-block;
	text-decoration: none;
    transition: all 100ms;
}

button:hover, .button:hover {
    cursor: pointer;
    color: #1d1d1d;
    background-color: #ccc;
    transition: all 50ms;
}

button:hover:active, .button:hover:active {
    color: #ccc;
    background-color: #444;
}

button:disabled, .button:disabled {
    cursor: default;
    opacity: 0.5;
}

input[type="number"], input[type="text"] {
    text-align: center;
    height: 45px;
    width: 200px;
    border: none;
    border-radius: 2px;
    background: #eee;
}

textarea {
    height: 400px;
    width: 470px;
    border: none;
    border-radius: 2px;
    background: #eee;
}

.dropdown {
  	position: relative;
  	display: inline-block;
}

#dropdown-content {
	z-index: 1;
    display: none;
	position: absolute;
	background-color: #f5f5f5;
    box-shadow: 1px 1px 20px 1px #aaa;
}

.abutton {
	position: relative;
	transition: all 0.4s;
}

.abutton:hover:before {
	top: 0;
	bottom: auto;
    height: 100%;
}

.abutton:before {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 0;
	width: 100%;
	z-index: -1;
	transition: all 0.4s;
}

.title {
    font-family: Helsinki;
}

footer {
	left: 0;
    bottom: 0;
    height: 8vh;
    width: 100vw;
    display: flex;
    line-height: 3;
    position: fixed;
    text-align: center;
    background: #f5f5f5;
    border-top: 1px solid #ddd;
}
