header {
    border: 1px solid black;
}

#logoBlock{
    background-image: linear-gradient(to-bottom, #fff, #000);
    height: 200px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3
}
 
#div {
    margin-top: 10px;
    display: block;
    width: 100px;
    float:left;
    height:100px;
    margin-left:20px;
}

#div1 {
    margin-top: 10px;
    display: block;
    width: 100px;
    float:left;
    height:100px;
    margin-left:180px;
}

#tabs {
    background: #40404080;
}

button {
    color: #404040;
    padding: 10px;
    width: 125px;
    height: 40px;
    background: #ccc;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: background 1s;
}

.button_main {
    border: 1px solid #ccc;
    border-radius: 30px;
    display: inline-block;
    height: 50px;
    width: 130px;
    overflow: hidden;
}

button:hover {
    cursor: pointer;
    background-color: #999999;
    transition: background 50ms;
}

button:disabled {
    cursor: default;
    opacity: 0.5;
}