days {
    display: block;
    overflow: auto;
}

day {
    padding: 20px;
    display: block;
    width: fit-content;
    border-radius: 5px;
    background-color: darkslategrey;
}

day header {
    display: flex;
    font-size: larger;
    justify-content: space-between;
}

day profit {
    display: block;
    font-size: small;
    font-family: monospace;
    margin: 40px 0 20px;
}

day profit::before {
    content: "Profit: $";
}

day price {
    display: block;
    font-size: small;
    font-family: monospace;
    margin: 40px 0 10px;
}

day price::before {
    content: "Price: $";
}

day customers {
    display: block;
    font-size: small;
    font-family: monospace;
    margin: 40px 0 10px;
}

day customers::before {
    content: "Customers: ";
}

