days {
    display: block;
    overflow: auto;
}

day {
    padding: 2rem;
    display: block;
    width: fit-content;
    border-radius: 5px;
    background-color: darkslategrey;
}

day header {
    display: flex;
    font-size: larger;
    justify-content: space-between;
}

day header #time::after {
    content: ":00"
}

day :is(profit, price, customers) {
    display: block;
    font-size: small;
    font-family: monospace;
    margin: 2rem 0 1rem;
}

day profit::before {
    content: "Profit: $";
}

day price::before {
    content: "Price: $";
}

day customers::before {
    content: "Customers: ";
}

