html {
  background: #1d1d1d;
  font-family: Arial,helvetica,sans-serif;
}

h1 {
  color: #dfdfdf;
}

textarea {
  color: #bebebe;
  background: #595959;
  border: none;
  
}

textarea:hover,textarea:focus {
  background: #404040;
  border: none;
}

textarea[id=input1],textarea[id=input2] {
  position: relative;
  width:49%;
  height:100px;
}
textarea[id=output] {
  width:98.5%;
  height:200px;
}

input.run {
  position: absolute;
  top: 20px;
  left: 270px;
  color: #2d2d2d;
  padding: 10px;
  background: #dfdfdf;
  border: 1px solid #bebebe;
  border-radius: 30px;
  display: inline-flex;
}

input.copy {
  position: absolute;
  top: 20px;
  left: 330px;
  color: #2d2d2d;
  padding: 10px;
  background: #dfdfdf;
  border: 1px solid #bebebe;
  border-radius: 30px;
  display: inline-flex;
}

input:hover {
  opacity: 0.9;
  cursor: pointer
}