@font-face {
    font-family: Helsinki;
    src: url(../fonts/helsinki.ttf);
}

body {
    margin-left: 1%;
}

header {
    border-bottom: 2px solid #1d1d1d;
}

.header .button {
    font: 13.33px Arial;
    text-decoration: none;
    color: #333;
    padding: 10px;
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 2px;
    background: #ccc;
    overflow: hidden;
    transition: all 1s;
}

button, .button {
    color: #333;
    padding: 10px;
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 2px;
    background: #ccc;
    overflow: hidden;
    transition: all 1s;
}

button:hover, .button:hover {
    cursor: pointer;
    background-color: #999999;
    transition: all 50ms;
}

button:hover:active, .button:hover:active {
    color: #ccc;
    background-color: #444;
}

button:disabled, .button:disabled {
    cursor: default;
    opacity: 0.5;
}

textarea {
    width: 20em;
    height: 5em;
    border: 1px solid black;
    border-radius: 2px;
}

#output {
    width: 40.75em;
}

#frtools-dropdown {
    display: none;
    position: fixed;
    top: 59px;
    left: 290px;
    box-shadow: 1px 1px 20px 1px #1d1d1d;
    transition: all 2s;
}

#frtools-dropdown .button {
    border-radius: 0;
}

.title {
    font-family: Arial;
}