:root {
	--size: .5;
	--background: #EBEBEB;
	--hard-background: #DDDDDD;
	--soft-background: #EEEEEE;
	--text: #1B1B1B;
	--stroke: skyblue;
	--fill: violet;
}

html {
    color: var(--text);
}

body {
	margin: 0;
	overflow: hidden;
}

body > nav {
	display: none !important;
}

canvas#view {
	background-color: var(--background);
	height: 100vh;
	touch-action: none;
	width: 100vw;
}

:not(label):has(> input:is([type="checkbox"],[type="radio"]):not(:checked)) {
    display: none !important;
}

div.content {
	padding: 0;
	overflow: hidden;
}

#container {
	position: relative;
	touch-action: none;
}

#container .user-interface > section {
	margin: 10px;
	max-width: 50vmin;
	overflow: hidden;
	position: fixed;
	z-index: 0;
}

#container .user-interface .bottom {
	bottom: 0;
}

#container .user-interface .left {
	left: 0;
}

#container .user-interface .top {
	top: 0;
}

#container .user-interface .right {
	right: 0;
	text-align: right;
}

#container .user-interface :is(button, .button, select) {
	background-color: transparent;
}

#container .user-interface select optgroup, #container .user-interface select option {
	background-color: var(--accent-color);
}

#container .user-interface section.left.top label[for]::before {
	content: "Show "
}

#container .user-interface section.left.top:has(#toolbar:checked) > label[for=toolbar]::before,
#container .user-interface section.left.top:has(#advanced-tools:checked) label[for=advanced-tools]::before {
	content: "Hide "
}

/* #container .user-interface section.left.top :has(> :checked) ~ label[for]::before {
	content: "Hide "
} */

label.button {
	line-height: 3rem;
}

#container .user-interface section.bottom.left .option {
	-webkit-user-select: none;
	font-size: smaller;
	height: 3rem;
	line-height: 3rem;
	overflow: hidden;
	padding: 0 1rem;
	position: relative;
	text-align: center;
	user-select: none;
}

#container .user-interface section.bottom.left .option.disabled {
	opacity: .5;
	pointer-events: none;
}

#container .user-interface section.bottom.left .option input {
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	visibility: hidden;
}

#container :is(.user-interface, .overlay) button {
	background-color: transparent;
}

#container .overlay {
	align-items: center;
	border-radius: 1rem;
	box-shadow: inset 0px 5px 8px -10px #80808040;
	inset: 0;
	overflow: hidden;
	place-content: center;
	position: absolute;
}

#container div#settings {
	background-color: #ffffff30;
	backdrop-filter: blur(2em);
    border-radius: 0;
	display: none;
	height: 100%;
	width: 100%;
	z-index: 40;
}

#container div#layers {
	background-color: hsl(0deg 0% 50% / 30%); /* var(--hard-background); */
	border-radius: 30px;
	display: none;
	flex-flow: column;
	height: auto;
	inset: 15%;
	margin: auto;
	padding: 1rem;
	width: auto;
	z-index: 20;
}

#container div#layers div#layer-container {
	display: grid;
	grid-auto-rows: min-content;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	margin: 1rem;
	max-height: 80%;
	overflow: auto;
	width: -webkit-fill-available;
}

/* Automatic layer counter >>>
#container div#layers .layer {
	counter-increment: layer;
}

#container div#layers .layer > div:nth-child(1):after {
	content: counter(layer);
} */

#container div#layers .layer {
	margin: 10px;
	padding: 10px;
	display: flex;
	overflow: hidden;
	position: relative;
	align-items: center;
	border-radius: 10px;
	place-content: center;
	flex-flow: column wrap;
}

#container div#layers .layer:not(#container div#layers .layer.selected)::before {
	content: "";
	opacity: .3;
	width: 100%;
	height: 100%;
	top: inherit;
	left: inherit;
	display: flex;
	overflow: hidden;
	position: absolute;
	pointer-events: none;
	border-radius: inherit;
	background-color: var(--hard-background);
	z-index: -1;
}

#container div#layers .layer:not(#container div#layers .layer.selected):hover::before {
	opacity: .5;
	pointer-events: none;
	background-color: var(--hard-background);
	transition: background-color 100ms;
	z-index: -1;
}

#container div#layers .layer.selected::before {
	content: "";
	opacity: .9;
	width: 100%;
	height: 100%;
	top: inherit;
	left: inherit;
	display: flex;
	overflow: hidden;
	position: absolute;
	border-radius: inherit;
	pointer-events: none;
	background-color: var(--hard-background);
	z-index: -1;
}

#container div#layers .layer input.selector {
	display: inline-block;
	width: 30px;
	height: 20px;
}

#container div#layers .layer .option {
	width: 130px;
	height: 45px;
	display: flex;
	font-size: small;
	overflow: hidden;
	position: relative;
	align-items: center;
	justify-content: center;
}

#container div#layers .layer .option input {
	margin-right: 8px;
	pointer-events: none;
}


#container div#layers .layer .options {
	/*display: none;*/
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

#container span#settings {
	top: 0;
	right: 0;
	margin: 10px;
	position: absolute;
}

input[type="color"]#colour {
	visibility: hidden;
	position: absolute;
}

svg {
	stroke: var(--text);
	fill: var(--text);
}