html {
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    text-align: center;
    background-color: white;
    border-width: 0 1px;
    margin: 131px auto 0 auto;
    padding: 20px
}

#content .thumb a:first-child {
    border-bottom-color: black
}

#content canvas {
    background-color: white;
    position: relative;
    border: 1px solid black;
}