@keyframes rotate {
    to {
        rotate: 360deg;
    }
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #1119;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 30px;
}

::-webkit-scrollbar-corner {
    display: none;
}

html {
    background-color: var(--background-color);
    box-sizing: border-box;
    color: var(--text-color);
	font-family: Arial, helvetica, sans-serif;
}

nav {
    backdrop-filter: blur(1rem);
    background-image: linear-gradient(to bottom, var(--accent-color), transparent);
    display: flex;
    justify-content: space-between;
    margin: -8px;
    margin-bottom: 0;
    padding: 0.4rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav button {
    background-color: transparent;
}

nav > select {
    display: none;
    color: var(--text-color);
}

nav > section {
    display: inline-flex;
    max-width: 50%;
}

body > .content {
    margin: 1rem 0;
}

.dropdown {
  	position: relative;
    transition: all 10s;
}

.dropdown:empty {
    display: none;
}

.dropdown > main {
    background-color: var(--accent-color);
    box-shadow: 0 0 20px -10px var(--border-color);
    max-height: 0;
    display: block;
    overflow: hidden;
	position: absolute;
    flex-direction: column;
}

.dropdown:hover > main {
    height: auto;
    max-height: 100vh;
    border-radius: 5px;
    transition: max-height .25s ease-in;
}

@media (max-width: 600px) {
    nav > section {
        display: none;
    }

    nav select {
        appearance: none;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 30px;
        display: block !important;
        padding: 1rem;
        outline: none;
        transition: 100ms all ease-out;
    }

    nav select:hover {
        cursor: pointer;
        transition: 200ms all ease-in;
    }

    nav select:active {
        cursor: pointer;
        transition: 200ms all ease-in;
    }

    nav select optgroup {
        appearance: none;
    }

    nav select option {
        appearance: none;
    }

    nav select option:hover {
        appearance: none;
        padding: 20px;
    }
}

pre.code-block {
    counter-reset: line;
    display: flex;
    flex-direction: column;
    background-color: #282C34;
    border-radius: 10px;
    line-height: 1.5;
    overflow-x: auto;
    overflow-y: auto;
    font-size: 14px;
    padding: 20px;
    min-width: 50vw;
    color: #ABB2BF;
    max-height: 500px;
}

pre.code-block span {
    counter-increment: line;
}

pre.code-block span:before {
    content: counter(line);
    margin-right: 10px;
    padding: 10px;
}

pre.code-block code.indent {
    text-indent: 5em;
}

pre.code-block code.constant {
    color: #E5C07B;
}

pre.code-block code.parameter {
    font-style: italic;
}

pre.code-block code.parameter,
pre.code-block code.property,
pre.code-block code.variable {
    color: #E06C75;
}

pre.code-block code.function,
pre.code-block code.method {
    color: #4FAFE3;
}

pre.code-block code.keyword {
    color: #C678DD;
}

pre.code-block code.string {
    color: #98C379;
}

pre.code-block code.number {
    color: #D19A58;
}

div.split-input {
    border-radius: 2px;
    width: fit-content;
}

div.split-input * {
    display: inline-block;
}

input:not([type="checkbox"]):not([type="color"]):not([type="image"]):not([type="file"]):not([type="radio"]) {
    background-color: var(--accent-color);
    color: var(--text-color);
    position: relative;
    border-radius: 2px;
    text-align: center;
    height: 45px;
    width: 200px;
    border: none;
    outline: none;
}

textarea:focus {
    outline: none;
}

input[type="file"] {
    width: 230px;
}

div.container {
    display: inline-flex;
    position: relative;
    overflow: hidden;
}

button, input[type="button"], .button, ::-webkit-file-upload-button {
    width: 130px;
    height: 45px;
    border: none;
    outline: none;
    overflow: hidden;
    user-select: none;
    position: relative;
	display: inline-block;
	text-decoration: none;
    transition: all 100ms;
}

:is(button, input[type="button"], .button).primary, input.primary::-webkit-file-upload-button {
    transition: all 100ms;
}

:is(button, input[type="button"], .button).secondary {
    border-radius: 4px;
    margin: 2.5px;
}

:is(button, input[type="button"], .button).secondary:active {
	transform: scale(.85);
    transition: transform 80ms ease;
}

:is(button, input[type="button"], .button):not(.secondary)::before, .ripple::before {
    opacity: 0;
    content: "";
    padding: 50%;
	position: absolute;
    border-radius: 50%;
    pointer-events: none;
    top: calc(var(--offsetY) * 1px);
	left: calc(var(--offsetX) * 1px);
	transition: transform 800ms, opacity 1s;
    transform: translate(-50%, -50%) scale(3);
}

.rainbow::before {
	background: #EEEEEE; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(red, orange , yellow, green, cyan, blue, indigo, violet);
    background: -o-radial-gradient(red, orange, yellow, green, cyan, blue, indigo, violet);
    background: -moz-radial-gradient(red, orange, yellow, green, cyan, blue, indigo, violet);
    background: radial-gradient(red, orange , yellow, green, cyan, blue, indigo,violet);
}

:is(button, input, .button):not(.secondary):active:before, .ripple:not(.secondary):not(.focus):active:before, .ripple.focus:not(.secondary):active:not(:focus-within):before {
    opacity: .5;
	transition: 0s;
	transform: translate(-50%, -50%) scale(0);
}

:is(button, input[type="button"], .button):not(.secondary):hover, ::-webkit-file-upload-button:hover {
    cursor: pointer;
    transition: all 50ms;
}

:is(button, input[type="button"], .button):disabled {
    cursor: default;
    opacity: 0.5;
}

:is(button, input[type="button"], .button).loading {
    font-size: 0;
}

button.loading::after, input[type="button"].loading::after, .button.loading::after {
	top: calc(50% - 5px);
	left: calc(50% - 5px);
    width: 8px;
	height: 8px;
    content: "";
    border: 2px solid;
	position: absolute;
	border-radius: 50%;
    border-color: var(--text-color);
    background-color: transparent;
	border-bottom-color: transparent;
	animation: rotate 800ms cubic-bezier(.5, .5, .5, .5) infinite;
}

textarea {
    border-radius: 2px;
    padding: 10px;
    height: 400px;
    width: 470px;
    border: none;
}

textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    background-color: var(--accent-color);
    color: var(--text-color);
}

input:not([type="checkbox"]):not([type="color"]):not([type="image"]):not([type="file"]):not([type="radio"]):hover, textarea:hover {
    filter: brightness(1.1);
}

input:not([type="checkbox"]):not([type="color"]):not([type="image"]):not([type="file"]):not([type="radio"]):focus, textarea:focus {
    filter: brightness(1.2);
}

.title {
    font-family: Helsinki;
}

table tr th {
    text-align: left;
}

table tr td {
    background-color: var(--accent-color);
    padding: 10px;
}

table tr td:hover {
    filter: brightness(1.1);
}

table tr td:nth-child(2) {
    opacity: .6;
}

progress {
    border-radius: 0.25rem;
    color: #2196F3 !important;
    height: 0.5rem;
    width: 470px;
}

progress::-moz-progress-bar {
    border-radius: 0.25rem;
}

progress::-webkit-progress-bar {
    border-radius: 0.25rem;
}

progress::-webkit-progress-value {
    background-color: #2196F3 !important;
    border-radius: 0.25rem;
}

#messages {
    flex-direction: column;
    margin-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
    display: flex;
    height: 70vh;
    width: auto;
}

.message span.content {
    display: inline-block;
    border-radius: 20px;
    margin-bottom: 2px;
    padding: 10px;
}

.message span.author {
    display: inline-block;
    margin-bottom: 2px;
    padding: 10px;
}

.warning {
    font-weight: bold;
}

div.showcase {
    width: fit-content;
}

div.showcase:hover {
    cursor: pointer;
}

iframe.showcase {
    width: 600px;
    height: 400px;
    border: 1px solid var(--border-color);
    pointer-events: none;
}

video-container {
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	position: relative;
}

video-container video {
	pointer-events: none;
	touch-action: none;
}

video-container video#view {
	width: 500px;
}

video-container controls {
	display: unset;
}

video-container controls :is(play, pause) {
	left: 0;
	bottom: 0;
	width: 5%;
	height: 10%;
	display: flex;
	padding: 2px 5px;
	position: absolute;
	justify-content: center;
}

video-container controls pause {
	display: none;
}

video-container controls :is(play, pause) svg {
	width: 20px;
	height: 20px;
	pointer-events: none;
}

context-menu {
	font-family: Trebuchet MS;
	font-size: 12px;
	background-color: #292a2d;
	border: 1px solid #3c4043;
	position: fixed;
	display: none;
	padding: 3px 0;
	box-shadow: 2px 2px 3px 0 #00000080;
}

context-menu:hover {
	cursor: default;
}

context-menu item {
	display: flex;
	padding: 4px 120px 4px 40px;
}

context-menu item:hover {
	background-color: #3f4042;
}

checkbox {
	width: auto;
	min-width: 25px;
	min-height: 25px;
	line-height: 1.4;
	user-select: none;
	text-align: right;
	position: relative;
	padding-left: 25px;
	display: inline-block;
}

checkbox::before {
	left: 0;
	top: 10%;
	content: "";
	width: 16px;
	height: 16px;
	background: white;
	position: absolute;
	border-radius: 4px;
	border: 1px solid black;
}

checkbox[checked]::before {
	transform: rotate(90deg);
}

checkbox[checked]::after {
	left: 2px;
	top: 18%;
	content: "";
	width: 14px;
	height: 14px;
	background: black;
	position: absolute;
	clip-path: polygon(25% 50%, 12% 64%, 36% 90%, 90% 24%, 76% 15%, 36% 65%);
}

body.drag-active {
    position: relative;
}

body.drag-active::after {
    border: 8px solid var(--border-color);
    content: "Drop";
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(
        0 40%,
        0 0,
        40% 0,
        40% 20%,
        20% 20%,
        20% 40%,
        0 40%,
        0 100%,
        40% 100%,
        40% 80%,
        20% 80%,
        20% 60%,
        0 60%,
        0 100%,
        100% 100%,
        100% 60%,
        80% 60%,
        80% 80%,
        60% 80%,
        60% 100%,
        100% 100%,
        100% 0,
        60% 0,
        60% 20%,
        80% 20%,
        80% 40%,
        100% 40%,
        100% 100%,
        0 100%
    );
}